<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=2.0' />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="./templates_Public.js" type="text/javascript"></script>
<script src="templates_Flot.js" type="text/javascript"></script>
<script src="./templates_WeatherFlot.js" type="text/javascript"></script>
<link rel="stylesheet"  href="templates_WeatherFlot.css" />
<title>中国天气通曲线图绘制组件</title>
</head>
<body>
 <h3 class="title"></h3>
  <div id="placeholder"></div>
  <p class="ptime"></p>
  <div class="that"></div>
</body>
</html>