@charset "utf-8";
/* CSS Document */
* {
padding:0px;
margin:0px;
border:none;
list-style:none;
}
body
{
font-size:14px;

font-family:"微软雅黑";
background:#497cd8; 
	-moz-background-size:cover; 
	background-size:cover; 
}
.mbox
{
background-size:cover;}

.placeholder {
text-align:center;
margin:0 auto;
background:#fff;
overflow:visible;
width:95%;
}
.title {
text-align:center;
line-height:20px;
padding:5px 0px;
color:#F1F8FF;
font-weight:bold;
font-size:17px;






}
.climateimg {
width:95%;
margin:0 auto;
background:rgba(0,0,0,0.3);
margin-bottom:20px;
}
.climateimg h3
{
	height:30px;
	font-size:14px;
	color:#fff;
	line-height:30px;
	text-align:center;}
.cls
{

	width:95%;
	font-size:13px;
	line-height:30px;
	color:#fff;
	background:rgba(0,0,0,0.3);
	overflow:hidden;
	margin:0 auto;
	margin-bottom:10px;}
.cls h3
{
	font-size:16px;

	text-align:center;
	padding:10px 0px;}
.cls p
{
	width:90%;
	margin:0 auto;
	font-size:14px;}
.mbox
{
	width:100%px;
	overflow:hidden;}
.placeholder
{

	background:none;}
.legendLabel
{
	color:#fff;
	position:relative;
	top:7px;
	font-size:9px;
	left:5px;}
.legend table tr td
{
	width:30%;}
.dateError {
height:100%;
width:100%;
}
.tickLabel
{
	color:#b7cce4;
	font-weight:bold;
}