<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0' />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="./templates_Public.js" type="text/javascript"></script>
<script src="templates_Flot.js" type="text/javascript"></script>
<link rel="stylesheet"  href="templates_Climate.css" />
<title>中国天气通城市历史数据</title>
</head>
<body>
<div class="mbox">
	<h2 class="title"><span style="display:none;"><span  class="city"></span>气候背景分析</span>
		据1971-2000年资料统计 </h2>
	<div class="climateimg">
		<h3>月平均、月平均最高、月平均最低气温</h3>
		<div class="placeholder" id="temp2" style=" height:150px;">
			<div class="loading" style="height:25px; font-size:12px; text-align:center; margin-top:70px;"><img src="templates_dsLoading.gif" width="30"></div>
			
		</div>
		<div style="font-size:10px;" class="legend" id="tempLegend2"></div>
	</div>
	<div class="climateimg">
		<h3>月极端最高、最低气温</h3>
		<div class="placeholder" id="temp1" style=" height:150px;">
			<div class="loading" style="height:25px; font-size:12px; text-align:center; margin-top:70px;"><img src="templates_dsLoading.gif" width="30"></div>
		</div>
		<div class="legend" id="tempLegend1"></div>
	</div>
	<div class="climateimg">
		<h3>月最大、最小降水量</h3>
		<div class="placeholder" id="rain2" style=" height:150px;">
				<div class="loading" style="height:25px; font-size:12px; text-align:center; margin-top:70px;"><img src="templates_dsLoading.gif" width="30"></div>
		</div>
		<div class="legend" id="rainLegend2"></div>
	</div>
	<div class="climateimg">
		<h3>月平均累计降水量</h3>
		<div class="placeholder" id="rain1" style=" height:150px;">
				<div class="loading" style="height:25px; font-size:12px; text-align:center; margin-top:70px;"><img src="templates_dsLoading.gif" width="30"></div>
		</div>
		<div class="legend" id="rainLegend1"></div>
	</div>
	
	
	<div class="cls">
		<h3>气候背景分析</h3>
		<p class="instructions">
			<div class="loading" style="height:25px; font-size:12px; text-align:center; margin-top:70px; margin-bottom:70px; color:#000;"><img src="templates_dsLoading.gif" width="30"></div>
		</p>
	</div>
</div>
<script type="text/javascript">
//$(function(){
//init('{"q":{"q1":"2.7|4.9|8.3|21.2|34.2|78.1|185.2|159.7|45.5|21.8|7.4|2.8","q2":"21|26.3|40.5|79|119.6|236.3|459.2|297.7|116.3|132.5|43.4|16.3","q3":"0|0|0|0.4|1.8|4|26.5|41|4.2|0.3|0|0","q4":"-3.7|-0.7|5.8|14.2|19.9|24.4|26.2|24.9|20|13.1|4.6|-1.5","q5":"12.9|19.8|26.4|33|36.8|39.2|41.9|36.1|34.4|29.3|22|19.5","q6":"-18.3|-16|-15|-3.2|2.6|9.8|16.6|11.4|4.3|-3.5|-10.6|-15.6","q7":"1.8|5|11.6|20.3|26|30.2|30.9|29.7|25.8|19.1|10.1|3.7","q8":"-8.4|-5.6|0.4|7.9|13.6|18.8|22|20.8|14.8|7.9|0|-5.8","q9":"海淀区位于北京市区西北部。东与西城、朝阳区相邻，南与宣武、丰台区毗连，西与石景山、门头沟区交界，北与昌平县接壤。南北长约30千米，东西最宽处29千米。面积426平方千米。2005年末户籍人口191.8万人。地处华北平原的北部边缘地带，系古代永定河冲积的一部分。地势西高东低，西部为海拔100米以上的山地，面积约为66平方公里，占总面积的15%左右；东部和南部为海拔50米左右的平原，面积约360平方公里，占总面积的85%左右。"}}','北京');
//init('error','北京');
//})
//配置每个图形的options 
//月累计降水量 
rain1Options={    
	colors: ["#7CC7F1"],
	legend: {
		container: $("#rainLegend1")
	},
	 xaxis: {
		 tickSize:1,
		 tickLength: 0,
		 tickDecimals:0
		 
	 },
	series: {
		bars: { show: true, barWidth: 0.6,align: "center",lineWidth: 1 }
	},
	grid: { 
		hoverable: true,
		backgroundColor: '#CDDFF3',
		color:'#000',
		borderWidth: 0.5,
		markingsColor: "#CFC8D0",
	    markingsLineWidth: 0.5
		
	}
}
//月最大,最小降水量
rain2Options={
	colors: ["#FAA07E","#86E8B9"],
	legend: {
		container: $("#rainLegend2"),
		noColumns: 2
	},
	 xaxis: {
		 tickSize:1,
		 tickDecimals:0,
		 
	 },
	series: {
	   points: {
			show: true,
			fill: true
		},
		lines: {
			show: true,
			lineWidth: 1
		}
	},
	grid: { 
			hoverable: true,
			backgroundColor: '#CDDFF3',
			color:'#000',
			borderWidth: 0.5,
			markingsColor: "#CFC8D0",
			markingsLineWidth: 0.5
		}
}
//极端最高、最低温度
temp1Options={
	colors: ["#E6807B","#48BADE"],
	legend: {
		container: $("#tempLegend1"),
		noColumns: 2
	},
	 xaxis: {
		 tickSize:1,
		 tickDecimals:0
	 },
	series: {
	   points: {
			show: true,
			fill: true
		},
		lines: {
			show: true,
			lineWidth: 1
		}
		
	},
	grid: { 
		hoverable: true,
		backgroundColor: '#CDDFF3',
		color:'#000',
		borderWidth: 0.5,
		markingsColor: "#CFC8D0",
		markingsLineWidth: 0.5
	}
}
//月平均温度
temp2Options={
	colors: ["#F0CE6A","#E6807B","#48BADE"],
	legend: {
		container: $("#tempLegend2"),
		noColumns: 3
	},
	 xaxis: {
		 tickSize:1,
		 tickDecimals:0
	 },
	series: {
	   points: {
			show: true,
			fill: true
		},
		lines: {
			show: true,
			lineWidth: 1
		}
	},
	grid: { 
		hoverable: true,
		backgroundColor: '#CDDFF3',
		color:'#000',
		borderWidth: 0.5,
		markingsColor: "#CFC8D0",
		markingsLineWidth: 0.5
	}
}



	
	function init( dataStr,cityName){
			try{
				var data = JSON.parse(dataStr);  //解析数据
			}catch(e){
				$(".loading").html("历史数据加载出错！");
				return false;
			}
			

	
		
		$(".loading").remove();
		
		//添加城市名称
		$(".title .city").html(cityName);
		//宽度初始化
		$width=parseInt($(window).width());
		$(".climateimg").width($width * 0.95);
		$(".placeholder").width($width * 0.95 * 0.95);
		dataStr=dataStr.replace(/\n/g,"<br>");
		//var data = JSON.parse(dataStr);  //解析数据
		
		imgData={};
		imgData.q1=splitData(data.q.q1);
		imgData.q2=splitData(data.q.q2);
		imgData.q3=splitData(data.q.q3);
		imgData.q4=splitData(data.q.q4);
		imgData.q5=splitData(data.q.q5);
		imgData.q6=splitData(data.q.q6);
		imgData.q7=splitData(data.q.q7);
		imgData.q8=splitData(data.q.q8);
		//图形绘制
		//draw(imgData);
		animateDraw(imgData,100,0);
		//填写介绍
		$(".instructions").html(data.q.q9);
		//绑定事件
		var previousPoint = previousSeries = null;
		$(".placeholder").live("plothover", function (event, pos, item) {
				if (item) {
					if (previousPoint != item.dataIndex || previousSeries != item.seriesIndex ) {
						previousPoint = item.dataIndex;
						previousSeries = item.seriesIndex;
						$("#tooltip").remove();
						
						contents =item.datapoint[1];
						showTooltip(item.pageX+5, item.pageY-20,contents);
					}
				}
				else {
					$("#tooltip").remove();
					previousPoint = null;            
				}
		});
		

	}
	
	function setScrollTop(val) {
		document.documentElement.scrollTop =val;
		document.body.scrollTop =val;
	}
	function getScrollTop (){
		scrollTop = document.documentElement.scrollTop || document.body.scrollTop; 
		return scrollTop;
	}
	function splitData(dataStr){
		dataArray=dataStr.split("|");
		returnData=[];
		for (i=1;i<=dataArray.length;i++)
		{
			returnData.push([i,dataArray[i-1]]);
		}
		return returnData;
	}
	function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'block',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }
	var plot={};
	function draw(imgData){
		//月累计降水量
		plotdata=[{data:imgData.q1,label:"月累计降水量(mm)"}];
	    plot.rain1 =	$.plot($("#rain1"),plotdata,rain1Options);
		//月最大,最小降水量,
		plotdata=[
			{data:imgData.q2,label:"月最大降水量(mm)"},
			{data:imgData.q3,label:"月最小降水量(mm)"}
		];
		plot.rain2 =$.plot($("#rain2"),plotdata,rain2Options);
		//极端最高、最低温度,
		plotdata=[
			{data:imgData.q5,label:"极端最高温度(℃)"},
			{data:imgData.q6,label:"极端最低温度(℃)"}
		];
		plot.temp1 =$.plot($("#temp1"),plotdata,temp1Options);
		//月平均温度
		plotdata=[
			{data:imgData.q4,label:"月平均温度(℃)"},
			{data:imgData.q7,label:"月平均最高温度(℃)"},
			{data:imgData.q8,label:"月平均最低温度(℃)"}
		];
		plot.temp2 =$.plot($("#temp2"),plotdata,temp2Options);
	}
	
	var animateDarwTimeOut;

	function animateDraw(imgData,interval,count){
		curCount= count +1;
		if (count==0){
			draw(imgData);
			plot.rain1.setData([{data:imgData.q1.slice(0,curCount),label:"月累计降水量(mm)"}]);
        	plot.rain1.draw();
			
			
			plotdata=[
				{data:imgData.q2.slice(0,curCount),label:"月最大降水量(mm)"},
				{data:imgData.q3.slice(0,curCount),label:"月最小降水量(mm)"}
			];
			plot.rain2.setData(plotdata);
        	plot.rain2.draw();
			plotdata=[
				{data:imgData.q5.slice(0,curCount),label:"极端最高温度(℃)"},
				{data:imgData.q6.slice(0,curCount),label:"极端最低温度(℃)"}
			];
			plot.temp1.setData(plotdata);
        	plot.temp1.draw();
			plotdata=[
				{data:imgData.q4.slice(0,curCount),label:"月平均温度(℃)"},
				{data:imgData.q7.slice(0,curCount),label:"月平均最高温度(℃)"},
				{data:imgData.q8.slice(0,curCount),label:"月平均最低温度(℃)"}
			];
			plot.temp2.setData(plotdata);
        	plot.temp2.draw();
			
			animateDarwTimeOut = setTimeout(animateDraw,interval,imgData,interval,curCount);
		}else if (count > 12)
		{
				clearTimeout(animateDarwTimeOut);
		}else
		{
			plot.rain1.setData([{data:imgData.q1.slice(0,curCount),label:"月累计降水量(mm)"}]);
        	plot.rain1.draw();
			
			
			plotdata=[
				{data:imgData.q2.slice(0,curCount),label:"月最大降水量(mm)"},
				{data:imgData.q3.slice(0,curCount),label:"月最小降水量(mm)"}
			];
			plot.rain2.setData(plotdata);
        	plot.rain2.draw();
			plotdata=[
				{data:imgData.q5.slice(0,curCount),label:"极端最高温度(℃)"},
				{data:imgData.q6.slice(0,curCount),label:"极端最低温度(℃)"}
			];
			plot.temp1.setData(plotdata);
        	plot.temp1.draw();
			plotdata=[
				{data:imgData.q4.slice(0,curCount),label:"月平均温度(℃)"},
				{data:imgData.q7.slice(0,curCount),label:"月平均最高温度(℃)"},
				{data:imgData.q8.slice(0,curCount),label:"月平均最低温度(℃)"}
			];
			plot.temp2.setData(plotdata);
        	plot.temp2.draw();
			
       		animateDarwTimeOut = setTimeout(animateDraw,interval,imgData,interval,curCount);
			
		}
	}

</script>
</body>
</html>