<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0' />
<link rel="stylesheet" href="templates_ds.css" />
<script type="text/javascript" src="templates_Public.js"></script>
<script type="text/javascript" src="templates_Flot.js"></script>
<script type="text/javascript" src="templates_dsTab.js"></script>
<script id="jcbw" type="text/html">
<div class="bw">
    <% if (c1.indexOf("http://") == 0 || c1.indexOf("./") == 0){ %>
	<h1><img src ="<%= c1 %>"></h1>
	<%}else{ %>
	<h1><%= c1 %></h1>
	<%}%>
	<h5><%= c2 %></h5>
	<p class="attr"> <span style="float:left"><%= c3 %></span><span style="float:right;"><%= c4 %></span> </p>
	<div class="line"></div>
	<% if (c5 != undefined && c5 != ""){ %>
	<p class="qf">签发人：<%= c5 %></p>
	<% }%>
	<h3><%= c6 %></h3>
	<%= c7 %>
</div>
</script>
<script id="tw" type="text/html">
<div class="tw">
	<% if ( c1 != ""){ %>
		<h3><%= c1 %></h3>
	<% }%>
	<%= c2 %>
</div>
</script>
<script id="singleimg" type="text/html">
<div class="singleimg">
	 <img src="<%=c1%>" />
</div>
</script>
<script id="multipleimg" type="text/html">
<div class="multipleimg">
	 <img width="95%" src="<%=imgs[0].i%>" />
</div>
</script>
<script id="alarm" type="text/html">
<div class="alarm">
	<div class="alarmimg">
	
	</div>
	
	<div class="alarmlist">
		<% for (i=0;i<l.length;i++) {%>
		    <div class="yjlist">
			<%if (l[i].a1 != l[i].a2 && l[i].a2 != "" ){%>
			<h1 class="title">
				<%=l[i].a1%><%=l[i].a2%>气象台<%=l[i].a4%>发布<%=l[i].a5%><%=l[i].a6%>预警
			</h1>
			<% } else { %>
			<h1 class="title">
				<%=l[i].a1%>气象台<%=l[i].a4%>发布<%=l[i].a5%><%=l[i].a6%>预警
			</h1>
			<% } %>
			<p class="alarmc"><%=l[i].a7%></p>
			</div>
		<%}%>
	</div>
</div>
</script>
<script id="szyb" type="text/html">
<div  class="szyb">
     <div id="lengedg"></div>
	 <div id="placeholder" style="width:100%;height:150px;"></div>
</div>
</script>
<script id="zytq" type="text/html">
<div class="hqybbox">
	<div class="hqybList">
	  <% if (d.qjs != undefined && d.qjs.length > 0){ %>
		<table class="table" border="0" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th colspan="2" class="cu">全省强降水汇总</th>
				</tr>
			</thead>
			<tbody>
				<% for (i=0;i<d.qjs.length;i++) {%>
				<tr>
					<td><%=d.qjs[i].n%></td>
					<td><%=d.qjs[i].v%></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	  <% } %>
	  <% if (d.df != undefined && d.df.length > 0) { %>
		<table class="table" border="0" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th colspan="2" class="cu">大风汇总</th>
				</tr>
			</thead>
			<tbody>
				<% for (i=0;i<d.df.length;i++) {%>
				<tr>
					<td><%=d.df[i].n%></td>
					<td><%=d.df[i].v%></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	  <% } %>
	  <% if (d.wd != undefined && d.wd.length > 0) { %>
		<table class="table" border="0" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th colspan="2" class="cu">最高/低温度汇总</th>
				</tr>
			</thead>
			<tbody>
				<% for (i=0;i<d.wd.length;i++) {%>
				<tr>
					<td><%=d.wd[i].n%></td>
					<td><%=d.wd[i].v%></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	  <% } %>
	  <p class="righs"><%=p%></p>
	</div>
</div>
</script>

<script id="leveltable" type="text/html">
<% 
	width= 100/th.length;
	length = th.length;
%>
<div class="hqybbox">
	 <div class="hqybList">
		 <table class="table1" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<% for (i=0;i<th.length;i++) { %>	
							<td style="width:<%=width%>;%" class="cu"><%=th[i]%></td>
					<% } %>
				</tr>
				<% for (i=0;i<d.length;i++) { %>
					<tr class="leveltableyiji">
						<% for (j=0;j<length;j++) { %>
						<td style="width:<%=width%>%;"  class="sus"><%=d[i].v[j]%></td>
						<% } %>
					</tr>
					<% 
						val = d[i].c;
						for (j=0;j<val.length;j++) { 
					%>
					<% val2 = val[j] ;%>
						<tr data-erjiindex="<%=i%>" class="leveltableerji" style="display:none;">
							<% for (k=0;k<length;k++) { %>
								<td  style="width:<%=width%>%;"><%= val2[k] %></td>
							<% } %>
						</tr>
					<% } %>
				<% } %>
		</table>
		  <p class="righs"><%=p%></p>
	</div>
</div>
</script>


<title>江苏决策版</title>
</head>
<body>
<div id="nav">
  <ul>
  
  </ul>
</div>
<div id="contentBor" style="width:100%;height:auto; overflow:hidden;">
	<div id="content">	</div>
</div>
<div  id="loading">
<img src="templates_dsLoading.gif" /> <br />正在加载...
</div>
<div  id="loadError">
数据加载出错！
</div>
</body>
</html>
