<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'/>
<link rel="stylesheet" href="templates_ds.css" />
<script type="text/javascript" src="templates_Public.js"></script>
<script type="text/javascript" src="templates_dsContent.js"></script>
<script id="jcbw" type="text/html">
<div class="bw">
    <% if (c1.indexOf("http://") == 0 || c1.indexOf("./") == 0){ %>
	<h1><img src ="<%= c1 %>"></h1>
	<%}else{ %>
	<h1><%= c1 %></h1>
	<%}%>
	<h5><%= c2 %></h5>
	<p class="attr"> <span style="float:left"><%= c3 %></span><span style="float:right;"><%= c4 %></span> </p>
	<div class="line"></div>
	<% if (c5 != undefined && c5 != ""){%>
	<p class="qf">签发人：<%= c5 %></p>
	<% } %>
	<h3><%= c6 %></h3>
	<%= c7 %>
</div>
</script>
<script id="tw" type="text/html">
<div class="tw">
	<% if ( c1 != ""){ %>
		<h3><%= c1 %></h3>
	<% }%>
	<%= c2 %>
</div>
</script>
<script id="singleimg" type="text/html">
<div class="singleimg">
	 <img src="<%=c1%>" />
</div>
</script>
<script id="seaforecast" type="text/html">
<div class="hqybbox">
	<% if (name == "东部沿岸") {%>
		<img src="templates_dsyahq.jpg" width="320" border="0" />
	<% } else if (name == "近海海区"){%>
		<img src="templates_dsjhhq.jpg" width="320" border="0" />
	<% } else { %>
		<% if (img != undefined && img != ""){%>
		<img src="<%=img%>" width="320" border="0" />
		<% } %>
	<%}%>
	<div class="hqybList">
		<table cellspacing="0" cellpadding="0" border="0" class="table">
			<thead>
				<tr>
					<th><%=name%></th>
					<th>预报时效<br>(小时)</th>
					<th>天气现象</th>
					<th>风向</th>
					<th>风力<br>(级)</th>
					<th>能见度<br>(km)</th>
					<% if (name == "近海海区") {%>
					<th>浪高<br>(m)</th>
					<%}%>
				</tr>
			</thead>
			<tbody>
			<% 
				for (var hq in d) {
					foreacstdata=d[hq].f;
					for( i=0; i<foreacstdata.length;i++  ){			
			%>
				<tr>
					<% if (i == 0){%>
					<td valign="center" align="center" rowspan="<%=foreacstdata.length%>"><%=hq%>.<%=d[hq].n%></td>
					<% } %>
					<td><%=foreacstdata[i].f1%></td>
					<td><%=foreacstdata[i].f2%></td>
					<td><%=foreacstdata[i].f3%></td>
					<td><%=foreacstdata[i].f4%></td>
					<td><%=foreacstdata[i].f5%></td>
					<% if (name == "近海海区") {%>
					<td><%=foreacstdata[i].f7%></td>
					<%}%>
				</tr>
			<% 
					}
				}
			%>
			</tbody>
		</table>
		  <p class="righs"><%=p%></p>
	</div>
</div>

</script>
<title>江苏决策版</title>
</head>
<body>
<div id="nav">
  <ul>
  
  </ul>
</div>
<div id="contentBor" style="width:100%;height:auto; overflow:hidden;">
	<div id="content">	</div>
</div>
<div  id="loading">
<img src="templates_dsLoading.gif" /> <br />正在加载...
</div>
<div  id="loadError">
数据加载出错！
</div>
<div class="fixedk tan">
	<ul>
	</ul>
</div>
</body>
</html>
